{% extends 'base.html' %}

{% block content %}
<section>
    <h1>Main</h1>
    <p>Hello! this is main page, created by {{name}} from {{class}}</p>
</section>
<section>
    <h1>Kepomon List Page</h1>
    <span style="">Total barang: {{ items|length}}</span>
    <table style="border-spacing: 1rem; text-align: left;">
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Date Added</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.amount}}</td>
            <td>{{item.description}}</td>
            <td>{{item.date_added}}</td>
        </tr>
        {% endfor %}
    </table>
    <br />
    <a href="{% url 'main:create_item' %}">
        <button
            style="border-width: 3px; border-color: rgb(37, 194, 160); border-style: solid; padding: 0.5rem 1rem; border-radius: 50px; background-color: transparent; color: rgb(37, 194, 160); font-weight: bold; cursor: pointer;">
            Add New Item &#8594;
        </button>
    </a>
</section>
{% endblock content %}